@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@font-face {
    font-family: "bricolage";
    src: url(../fonts/bricolageOne.ttf);
}
/* font-family: "Dela Gothic One" */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: wheat;
}
body{
    background-color: #272727;
}
.main-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* #111111 */
}
.img-icon{
    display: flex;
    align-items: center;
}
.div-icon .img-icon{
    width: 2rem;
}
.main-nav{
    display: flex;
    justify-content: flex-end;
}
.main-nav > ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;
    
}
.main-nav > ul > li > a{
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    padding: 0;
    height: 100%;
    font-family: "Dela Gothic One";
}
.main-nav > ul > li > a:hover{
    color: #FF8400;
    height: 100%;
}
.section-nuevo{
    display: flex;
    justify-content: center;
}
.section-nuevo .nuevo-imagen{
    width: 100%;
}

/* FORMULARIO */
.section-main-forms{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    gap: 3rem;
}
.title-signIn h2, .title-logIn h2{
    font-family: "bricolage";
    color: #FF8400;
    font-weight: bold;
    text-decoration: double;
    font-size: 2rem;
}
.section-signIn{
    width: 80rem;
    background-color: #242222;
    border: 0.1rem solid #FF8400;
    border-radius: 0.5rem;
    padding: 2rem;
}
.section-logIn{
    width: 40rem;
    background-color: #242222;
    border: 0.1rem solid #FF8400;
    border-radius: 0.5rem;
    padding: 2rem;
}
.form-logIn, .form-signIn{
    width: 100%; 
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.form-signIn input, .form-logIn input, .form-logIn label, .form-signIn label {
    color: #ffffff; 
    font-family: "Dela Gothic One";
    display: block; 
    width: 100%; 
    margin-bottom: 1rem; 
}
.title-signIn, .title-logIn {
    margin: 2rem 0;
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-group input[type="button"] {
    margin: 0 auto;
    color: #FFFFFF; 
    font-size: 1rem;
    background-color: #FF8400;
    border: none;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-family: "bricolage";
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.form-group input[type="button"]:hover {
    background-color: #E67300; 
    color: #FFFFFF; 
    transform: scale(1.05);
}