@use 'variables.scss' as *;
@use 'mixins.scss' as *;

@include responsive(xs){

    .main-header{

        .abrir-menu {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .main-nav {
            opacity: 0;
            visibility: hidden;
            @include dFlexColumnItemsEnd;
            height: 100vh;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $cardColor;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax $negroTransparente;
            transition: opacity 0.5s ease, visibility 0.5s ease;

            .cerrar-menu {
                display: none;
                color: $blanco;
            }

            .nav-list {
                @include dFlexColumnItemsCenter;
                gap: 1rem;
                list-style-type: none;
                
                li a {
                    text-decoration: none;
                    font-size: 0.8rem;
                    font-family: $delaGothicOne;
                    transition: color 0.8s ease;
                    color: $blanco;
                    
                    &:hover,
                    &:active {
                        color: $naranja;
                    }
                }
            }

            &.visible {
                opacity: 1;
                visibility: visible;

                .cerrar-menu {
                    display: block;
                    border: 0;
                    font-size: 1.25rem;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }

    }

    .section-popular-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }
    
    .main-footer{

        .container-footer{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
            font-size: 2rem;
            width: 100%;
            gap: 1rem;

            .container-footer-links{
                @include dFlexRowJustifyCenter;
            }

            .container-footer-name{
                @include dFlexColumnItemsCenter;
            }

        }

    }

    .main-info-banner{

        .info-banner-img{
            height: auto;
            width: 100%;
            cursor: pointer;
        }
        
    }

    .producto-figuras{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        place-items: center center;
    }
    
    .container-productos{

        .producto-figuras{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
            place-items: center center;
            
            .card-producto-figura{

                .card-producto-figura-header{
                    padding: 0 0 1rem 0;
                        .card-header-img{
                            width: 100%;
                        }

                }

                .card-producto-figura-body{
                    width: 100%;

                    .card-body-span-descripcion{
                        font-size: 1.5rem;
                    }
                    .card-body-span-precio{
                        font-size: 1.5rem;
                    }

                }

            }  
        
        }
    }
}

@include responsive(sm){
    
    .main-header{

        .abrir-menu {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .main-nav {
            opacity: 0;
            visibility: hidden;
            @include dFlexColumnItemsEnd;
            height: 100vh;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $cardColor;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax $negroTransparente;
            transition: opacity 0.5s ease, visibility 0.5s ease;

            .cerrar-menu {
                display: none;
                color: $blanco;
            }

            .nav-list {
                @include dFlexColumnItemsCenter;
                gap: 1rem;
                list-style-type: none;
                
                li a {
                    text-decoration: none;
                    font-size: 0.8rem;
                    font-family: $delaGothicOne;
                    transition: color 0.8s ease;
                    color: $blanco;
                    
                    &:hover,
                    &:active {
                        color: $naranja;
                    }
                }
            }

            &.visible {
                opacity: 1;
                visibility: visible;

                .cerrar-menu {
                    display: block;
                    border: 0;
                    font-size: 1.25rem;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }

    }

    .section-popular-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }
    
    .main-footer{

        .container-footer{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
            font-size: 2rem;
            width: 100%;
            gap: 1rem;

            .container-footer-links{
                @include dFlexRowJustifyCenter;
            }

            .container-footer-name{
                @include dFlexColumnItemsCenter;
            }

        }

    }

    .main-info-banner{

        .info-banner-img{
            height: auto;
            width: 100%;
            cursor: pointer;
        }
        
    }
    
    .container-productos{

        .producto-figuras{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
            place-items: center center;
            
            .card-producto-figura{

                .card-producto-figura-header{
                    padding: 0 0 1rem 0;
                        .card-header-img{
                            width: 100%;
                        }

                }

                .card-producto-figura-body{
                    width: 80%;

                    .card-body-span-descripcion{
                        font-size: 0.6rem;
                    }
                    .card-body-span-precio{
                        font-size: 0.8rem;
                    }

                }

            }
            
        }
    }

}

@include responsive(md){

    .section-popular{

        .section-popular-cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
        }
    
    }
    
    .card-title{
        p{
        font-size: 0.8rem;
        }
    }

    .main-footer{

        .container-footer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            font-size: 2rem;
            align-items: center;

            .container-footer-links{
                @include dFlexRowJustifyStart;
            }

            .container-footer-name{
                @include dFlexColumnItemsEnd;
            }

        }

    }

    .main-info-banner{

        .info-banner-img{
            height: auto;
            width: 80%;
            cursor: pointer;
        }
        
    }

    .container-productos{
        margin: 5rem;

        .producto-figuras{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
            place-items: center center;

            .card-producto-figura-header{
                padding: 0 0 1rem 0;
                
                    .card-header-img{
                        width: 100%;
                    }
    
            }
            .card-producto-figura-body{
                width: 80%;

                .card-body-span-descripcion{
                    font-size: 0.6rem;
                }
                .card-body-span-precio{
                    font-size: 1rem;
                }

            }
        }
    }
    
}

@include responsive(lg){

    .section-popular{

        .section-popular-cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
        }
    }
    
    .card-title{
        p{
            font-size: 0.8rem;
        }
    }

    .main-footer{
        
        .container-footer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            font-size: 2rem;
            align-items: center;

            .container-footer-links{
                @include dFlexRowJustifyStart;
            }

            .container-footer-name{
                @include dFlexColumnItemsEnd;
                padding: 0;
                margin: 0;
            }

        }
    }

    .main-info-banner{

        .info-banner-img{
            height: auto;
            width: 60%;
            cursor: pointer;
        }

    }

    .container-productos{
        margin: 5rem;

        .producto-figuras{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
            place-items: center center;

            .card-producto-figura-header{
                padding: 1rem 0 1rem 0;

                    .card-header-img{
                        width: 70%;
                    }
    
            }
            .card-producto-figura-body{
                width: 350px;

                .card-body-span-descripcion{
                    font-size: 1rem;
                }

                .card-body-span-precio{
                    font-size: 1.4rem;
                }

            }
        }
    }
    

}

@include responsive(xl){

    .section-popular{

        .section-popular-cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
        }
    }
    
    .card-title{
        p{
            font-size: 0.8rem;
        }
    }

    .main-footer{
        
        .container-footer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            font-size: 2rem;
            align-items: center;

            .container-footer-links{
                @include dFlexRowJustifyStart;
            }

            .container-footer-name{
                @include dFlexColumnItemsEnd;
            }

        }
    }

    .main-info-banner{

        .info-banner-img{
            height: auto;
            width: 60%;
            cursor: pointer;
        }

    }

    .container-productos{
        margin: 5rem;

        .producto-figuras{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 2rem;
            place-items: center center;

            .card-producto-figura-header{
                padding: 1rem 0 1rem 0;

                    .card-header-img{
                        width: 70%;
                    }
    
            }
            .card-producto-figura-body{
                width: 350px;

                .card-body-span-descripcion{
                    font-size: 1rem;
                }

                .card-body-span-precio{
                    font-size: 1.4rem;
                }

            }
        }
    }
}

   

       
        
        
    
