@use 'variables.scss' as *;
@use 'mixins.scss' as *;

.section-popular{
    padding: 1rem;

    .section-popular-title{
        font-family: "Dela Gothic One";
        padding: 1rem;
        color: $blanco;
    }

    .section-popular-cards{
        place-items: center center;

        .cardx{
            background-color: $cardColor;
            transition: transform 0.3s;
            width: 70%;
            
            &:hover{
                z-index: 0;
                transform: scale(1.05);
            }

            .card-img {
                width: 100%;
                height: auto;
            }

            .card-title{
                @include dFlexColumnItemsCenter;
                align-items: center ;
                padding: 1.5rem;

                p{
                    font-family: monospace;
                    font-weight: bold;
                    margin: 0;
                    color: $blanco;
                }

            }
        }

    }
    
}

