@use 'variables.scss' as *;
@use 'mixins.scss' as *;

.container-productos{
    
    .container-productos-h1{
        text-align: center;
        padding: 1rem;
        h1{
            color: $blanco;
        }
    }
    .container-productos-buttons{
        @include dFlexRowJustifyCenter;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 0 2rem 0;

        .productos-buttons{
            padding: 1rem;
            color: $blanco;
            background-color: $formBtn;
            transition: all 0.5s ease-in-out;
            border: 1px solid $naranja;
            font-weight: 600;

            &:hover{
                background-color: $blanco;
                color: $naranja;
                border: 1px solid $naranja;
                transform: scale(1.1);
            }

            &.visible{
                background-color: $blanco;
                color: $naranja;
                border: 1px solid $naranja;
            }

        }

    }

    .contenedor-productosx{
        margin: 1rem;
        .producto-funkoPop, .producto-juegos, .producto-accesorios{
            display: none;
        }

        .producto{

            .card-producto{
                @include dFlexColumnItemsCenter;
                outline: 1px solid $naranja;
                width: 100%;
                background-color: $cardVentaColor;
    
                .card-producto-header{
                    @include dFlexRowJustifyCenter;
                }
    
                .card-producto-body{ 
                    @include dFlexColumnItemsCenter;
                    padding: 1rem 0 1rem 0;
                    gap: 1rem;
    
                    .card-body-span-descripcion{
                        text-align: center;
                        color: $blanco;
                        font-weight: bold;
                    }
                    .card-body-span-precio{
                        text-align: center;
                        color: $naranja;
                        font-weight: bold;
                    }
    
                }
    
                .card-producto-footer{
                    @include dFlexRowJustifyCenter;
                    padding: 1rem 0 1rem 0;
                    background-color: $navColor;
                    width: 100%;
    
                    .card-footer-button{
                        padding: 0.5rem;
                        background-color: $formBtn;
                        color: $blanco;
                        transition: background-color 0.8s ease-in-out;
                        border: 1px solid $naranja;
    
                        &:hover{
                            background-color: $blanco;
                            color: $naranja;
                        }
    
                    }
    
                }
    
            }
    
        }

    }
    
}